button {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: transparent;
  font-size: 30px;
  color: white;
  padding-bottom: 10px;
  height: auto;
  width: auto;
}

.counter__amount {
  margin-top: 10px;
}

@media screen and (min-width: 700px) {
  button:hover {
    font-size: 35px;
  }
}
